<div class="home-content-container">
    <!-- Product List -->
    <ul class="home-product-list">
        <% theme.product.forEach(function(product) { %>
        <li class="home-product-item">
            <% let productThumbnail = product.img; %>
            <div id="home-product-thumbnail" class="home-product-thumbnail  overflow-hidden">
                <a href="/">
                    <img src="<%- url_for(productThumbnail) %>" alt="<%= product.name %>" class="w-full h-full object-cover dark:brightness-75 transition-all" />
                </a>
            </div>
            <div class="text-container">
                <div class="home-product-title">
                    <a href="/">
                        <%= product.name %>
                    </a>
                </div>
                <div class="home-product-content markdown-body">
                    <% if (product.description) { %>
                        <%- render(product.description, "plaintext") %>
                    <% } else { %>
                        <%- truncate(strip_html(product.description), {length: 128}) %>
                    <% } %>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>
    <!-- End Product List -->
</div>